body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: white;
  color: black;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -1px 2px 5px 0px rgba(173,173,173,1);
}

header .logo {
  margin-left: 20px;
  font-size: 1.5em;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  color: #575757;
  text-decoration: none;
  padding: 5px 10px;
}

header nav ul li a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  padding: 20px;
}

aside {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  border-right: 1px solid #ddd;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside ul li {
  margin-bottom: 10px;
}

aside ul li a {
  color: #333;
  text-decoration: none;
}

aside ul li a:hover {
  text-decoration: underline;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 20px;
}

.content h2 {
  margin-top: 0;
}

.content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.content table, th, td {
  border: 1px solid #ddd;
}

.content table th, .content table td {
  padding: 8px;
  text-align: left;
}

.content button {
  margin-bottom: 10px;
  padding: 8px 12px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.delete button{
  margin: auto;
  display: block;
  padding: 8px 12px;
  background-color: #ce5252;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  place-items: center;
}
.delete button:hover{
  background-color: #ce3e3e;
}

.content button:hover {
  background-color: #575757;
}
